<%= form_for @reservation do |f| %>
    <div>
        <%= f.hidden_field :restaurant_id, value: params[:format]%>
    </div>
    <div class="input-field col s6">
        <%= f.label :date, 'date' %>
        <%= f.date_field :date %>
        <%= f.label :time, 'time' %>
        <%= f.time_field :time %>
    </div>
    <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
  <% end %>