
 <%-# Reservation form -%>
<%= form_for @reservation do |f| %>

    <div>
        <%= f.hidden_field :restaurant_id, value: params[:format]%>
    </div>
    <div>


<div class="wrapper fadeInDown text-warning">
<div id="formContent" style="background-color:#333533;color::#F5CB5C;padding:5px;">

<br>
<h1><%=params[:message]%></h1>
  <div class="field fadeIn first">
     <%= f.label :date, 'Date ' %>
   <%= f.date_field :date %>
  </div>
<br>
  <div class="field fadeIn second">
   <%= f.label :time, 'Time ' %>
        <%= f.time_field :time %>
  </div>
<hr>
  
  <div class="actions fadeIn fourth">
   <%= f.submit "Confirm"%>
  </div>



</div>
</div>
<% end %>

