 <%-# Reservation Guest view-%>
<h1>List of reservations</h1>

<ul>
    <%@reservations.each do |reservation|%>
    <li><%=reservation.date%> <%=(reservation.time).to_s.split(" ")[1]%></li>

    <%= link_to "Edit Reservation", edit_reservation_path(reservation)%>
    
    <%= link_to "Delete Reservation", reservation_path(reservation) ,method: :delete,
     data: {confirm: "Are you sure you want to delete " +reservation.date.to_s} %>
     <%= link_to "Show", reservation_path(reservation) %>
<br/>
<% end %>
</ul>
    <%= link_to "Restaurant List", restaurants_path %>