
 <%-#View all restuarants-%>


<%= link_to "add restaurant", new_restaurant_path%>  

<hr>
<% @restaurants.each do |restaurant|%>
<div class="card-group text-center container" style="width: 30rem;background-color:#F5CB5C;padding:5px;">
  <div class="card bg-dark">
    <h5 class="card-title container"> <%= image_tag(restaurant.image, size: "400", alt: "")%></h5>
    <p class="card-text text-warning"><%= restaurant.category %></p>
     <%= link_to('Book', restaurant_path(restaurant), class: 'btn btn-outline-secondary text-dark my-2 my-sm-0', style:'background-color:#F5CB5C;') %>
  </div>
</div>
<hr>

 <%-#Admin functionalities-%>

<%if @role == "admin" %>
<%= link_to "Edit restaurant", edit_restaurant_path(restaurant)%>  


<%= link_to "Delete restaurant", restaurant_path(restaurant) ,method: :delete,
     data: {confirm: "Are you sure you want to delete " + restaurant.name} %>
<%end%>
<%end%>