
 <%-#View all restuarants-%>


<div>
<br>
<% @restaurants.each do |restaurant|%>
<div class="container" style="padding:5px;background-color:#242423;width:70%;">
<div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active ">
        <%= image_tag(restaurant.image, height: "350px", width: "", alt: "", class: "card-img d-block w-100 ")%>
<div>
    </div>
  </div>
</div>
  <div class="card-img-overlay">
<%= link_to image_tag(restaurant.image, size: "100x100", alt: "", class: "card-title"), restaurant_path(restaurant)%>
    <div class="container ", style="color:#F5CB5C;"><%= restaurant.category %></div>
    <br>
  <%= link_to('Book', restaurant_path(restaurant), class: 'btn btn-outline-secondary text-dark my-2 my-sm-0', style:'background-color:#F5CB5C;') %>
  

</div>
<br>

 <%-#Admin functionalities-%>

<%if @role == "admin" %>
<%= link_to "Edit restaurant", edit_restaurant_path(restaurant)%>  


<%= link_to "Delete restaurant", restaurant_path(restaurant) ,method: :delete,
     data: {confirm: "Are you sure you want to delete " + restaurant.name} %>
<%end%>


<br>
<%end%>
</ul>

</div>