
<div class="bg-blurr"></div>
    <div class="bg-text">
        <h4>Show Menu</h4>
    </div>

 <%-# If guest => will render restaurant list-%>
 
    <div class="col-sm-6">
        <%= link_to "back to restaurants list",  restaurants_path , class:"btn btn-primary btn-sm pull-left "%>
 <%-# if manger => will render restuarant and functionalities-%>
            <%if @role == "manger" && current_user.id == @restaurant.user_id%>
                <%= link_to "add food", new_restaurant_food_path(@restaurant.id) %>
            <%end%>
    </div>

    <div class="col-sm-6">
    <br>
        <%= link_to  "Book a table", new_reservation_path(@restaurant, message: "choose date and time") , class:"btn btn-warning btn-sm"%>
    </div>

 <%-# Rendering all dishes for a restuarant-%>
<div class="container ">
    <div class="row">
            <% @restaurant.foods.each do |f|%>
                <div class="col-sm-6">
                    <div class="card" style="width: 15rem;">
                        <%= image_tag(f.image, class:"card-img-top") %>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#"><%= f.name%></a></h5>
<%if @role == "manger" && current_user.id == @restaurant.user_id%>

                                    <div class="price-wrap h5"> 
    <%= link_to "Edit food", edit_restaurant_food_path([@restaurant],[f]),class:"btn btn-primary btn-sm pull-left "%>
                                            <span class="price-new"><%= f.price%></span>
                                    </div>        
                           

<%= link_to "Delete food", restaurant_food_path([@restaurant],[f]) ,method: :delete,
     data: {confirm: "Are you sure you want to delete " + f.name}, class:"btn btn-primary btn-sm pull-left " %>
<%end%>
                                    <div class="price-wrap h5"> 
                                            <span class="price-new"><%= f.price%></span>
                                    </div>        

                             </div>  
                    </div>
                 </div>
                <%end%>
    </div>
</div>


 <%-# Manager functionalities-%>

 

