<!DOCTYPE html>
<html>
  <head>
      <script src="https://kit.fontawesome.com/3c964d3e7f.js" crossorigin="anonymous"></script>
    <title>DineIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='background-image: url("https://i.imgur.com/B3qZbZB.jpg"); background-size: cover;' >
    <%=render'layouts/nav'%>
    <%= yield %>
  </body>
    <%=render'layouts/fot'%>
</html>
